.columnSelector .disabled
{	color: #ddd;
}
table.columnSelector > tbody > tr > td,table.columnSelector > thead > tr > th
{	padding:0px;
	vertical-align:middle;
}
table.columnSelector label
{	width:100%;
	margin:0px;
	padding:8px;
}
.pagesize
{	width:2.5em;
}
.full-height
{	height:100%;
}
#view_table
{	margin-top:20px;
	overflow-x:auto;
}